:root {
  --btnBgColor: #4caf4fa8;
  --btnBgColorHover: #4caf50;
  --btnHeight: 50px;
  --globalMargin: 10px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgb(200, 200, 200);
  border-radius: 10px;
}

.Container {
  background-color: rgb(240, 240, 240);
  height: calc(100vh - var(--globalMargin) * 2);
  width: 250px;
  margin-right: 5px;
  border-radius: 10px;
  display: grid;
  grid-template-rows: var(--btnHeight) 1fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "Title"
    "ContentContainer";
}

.Title {
  grid-area: Title;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border-bottom: 2px black solid;
}

.ContentContainer {
  display: grid;
  max-height: calc(100vh - var(--btnHeight) - var(--globalMargin) * 2);
  grid-template-columns: 50px 180px;
  grid-template-rows: 1.9fr 40px;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "OptionContainer TopicContainer"
    "TagButton TopicButton";
  grid-area: ContentContainer;
}

.OptionContainer {
  grid-area: OptionContainer;
  border-right: 1px solid black;
  display: flex;
  flex-direction: column;
}

.TopicContainer {
  grid-area: TopicContainer;
  overflow: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.TopicList {
  margin: 10px 0px 0px 20px;
}

.TopicButton {
  grid-area: TopicButton;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: var(--btnBgColor);
  border-bottom-right-radius: 10px;
  border-top: 2px black solid;
  font-weight: 700;
  transition-duration: 0.4s;
}

.TopicButton:hover {
  background-color: var(--btnBgColorHover);
  cursor: pointer;
}

.TagButton {
  grid-area: TagButton;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--btnBgColor);
  border-bottom-left-radius: 10px;
  border-top: 2px black solid;
  border-right: 1px black solid;
  transition-duration: 0.4s;
}

.TagButton:hover {
  background-color: var(--btnBgColorHover);
}

.Options {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  text-align: center;
}

.OptionText {
  margin: 0px 5px 20px 5px;
  font-size: small;
}

.Icon {
  color: #4caf4f;
}

.Icon:hover {
  color: #00c407;
  cursor: pointer;
}

.ModifiedVideoIcon {
  color: #4caf4f;
  position: relative;
}

.ModifiedVideoIcon:hover {
  color: #00c407;
  cursor: pointer;
}

.VideoIconModification {
  color: rgb(240, 240, 240);
  font-weight: 600;
  font-size: 15px;
  position: absolute;
  left: 26.5px;
  top: 142px;
}

.VideoIconModification:hover {
  cursor: pointer;
}
