:root {
    --btnBgColor: #4caf4fa8;
    --btnBgColorHover: #4CAF50;
}

.Container {
    background-color: rgb(240, 240, 240);
    margin-right: 5px;
    border-radius: 10px;
    display: grid;
    grid-template-rows: 50px 1.85fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: 
        'Title'
        'ContentContainer';
}

.Title { 
    grid-area: Title;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-bottom: 2px black solid;
}


.ContentContainer {  
    display: grid;
    grid-template-columns: 0.3fr 1.7fr;
    grid-template-rows: 1.9fr 0.1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "OptionContainer TopicContainer"
      "TagButton TopicButton";
    grid-area: ContentContainer;
}


.OptionContainer {
    grid-area: OptionContainer;
    border-right: 1px solid black;
    display: flex;
    flex-direction: column;
}


.TopicContainer {
    grid-area: TopicContainer; 
    display: flex;
    flex-direction: column;
    justify-content: space-between  ;
}

.TopicList {
    margin: 10px 0px 0px 20px;
}

.TopicButton { 
    grid-area: TopicButton;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: var(--btnBgColor);
    border-bottom-right-radius: 10px;
    border-top: 2px black solid;
    font-weight: 700;
    transition-duration: 0.4s;
}

.TopicButton:hover {
    background-color: var(--btnBgColorHover);
}

.TagButton { 
    grid-area: TagButton; 
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: center;
    background-color: var(--btnBgColor);
    border-bottom-left-radius: 10px;
    border-top: 2px black solid;
    border-right: 1px black solid;
    font-weight: 700;
    transition-duration: 0.4s;
}

.TagButton:hover {
    background-color: var(--btnBgColorHover)
}

.Options {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    text-align: center;
}

.OptionText {
    margin: 0px 5px 20px 5px;
    font-size: small;
}

.Icon {
    color: var(--btnBgColor);
    margin-top: 10px
}
