.Container {
  background-color: rgb(240, 240, 240);
  margin-bottom: 5px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "TitleContainer"
    "FoldersContainer";
  overflow: hidden;
}

.TitleContainer {
  grid-area: TitleContainer;
  text-align: center;
  border-bottom: 2px black solid;
  display: grid;
  grid-template-columns: 200px 1.7fr;
  grid-template-rows: 1fr;
  grid-template-areas: "TopicName Title";
}

.Title {
  grid-area: Title;
  padding-top: 10px;
  margin-right: 200px;
}

.TopicName {
  grid-area: TopicName;
  padding-top: 10px;
  border-right: 1px solid;
}

.FoldersContainer {
  grid-area: FoldersContainer;
}
