@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

* {
  margin: 0px;
  font-family: "Quicksand";
  box-sizing: border-box;
}

.VerticalSplitter {
  height: calc(100vh - 30px);
  /*30px is 10px margin top 10px margin bottom 10px gutter space*/
  margin-left: 5px;
  width: 100%;
}

.gutter {
  background-color: rgb(230, 230, 230);
  height: 30px;
  width: 30px;
  border-radius: 5px;
  margin: auto;
}

.flexContainer {
  padding: 10px;
  height: 100vh;
  display: flex;
}
