@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');


* {
    margin: 0px;
    font-family: 'Quicksand';
    color: #333;
    box-sizing: border-box
}

.globalContainer {
  /* background-color: red; */
  overflow: hidden;
  margin: 10px;
  border-radius: 10px;
}


.VerticalSplitter {
  height: calc(100vh - 20px);
  margin-left: 5px;
}

.HorizontalSplitter {
  display: flex;
}

.gutter {
  background-color: #eee;
  height: 30px;
  width: 30px;
  border-radius: 5px;
  margin: auto;
}

